    /* .page__header{
      margin-bottom: calc(0.1492 * 100vw);
    }

    @media screen and (max-width: 850px){
      .page__header{
        margin-bottom: 168px;
      }
    }

    @media screen and (min-width: 1440px){
      .page__header{
        margin-bottom: 215px;
      }
    } */
