.header__menu{
  max-width: 1108px;
  display: grid;
  grid-template-columns: repeat(4, min-content) 1fr repeat(2, min-content);
  grid-template-rows: min-content;
  align-items: center;
  column-gap: 30px;
}

@media screen and (max-width: 850px){
  .header__menu{
    display: grid;
    grid-template-columns: repeat(2, min-content);
    justify-content: space-between;
    row-gap: 23px;
    align-items: center;
  }
}
