.statistic__title{
  font-family: 'Poppins', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: calc(23.77px + 0.0113 * 100vw);
  line-height: 48px;
  text-align: center;
  letter-spacing: -1px;
  color: #34313D;
  margin: 0 0 18px 0;
  padding: 0;
}

@media screen and (max-width: 375px){
  .statistic__title{
    font-size: 28px;
    letter-spacing: -0.7px;
  }
}

