.header {
  max-width: 1108px;
  padding: 55px 0 0 0;
  z-index: 0;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
  row-gap: 78px;
  min-height: 800px;
  width: 77%;
  box-sizing: border-box;
}

@media screen and (max-width: 850px){
  .header{
    row-gap: 23px;
    width: 87.2%;
    min-height: 927px;
  };
}
