.header__intro-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center  ;
}

@media screen and (max-width: 851px){
  .header__intro-container{
    align-items: center;
  }
}
