.content{
  display: grid;
  grid-template-columns: 77.09%;
  grid-template-rows: repeat(4, min-content);
  justify-content: center;
  width: 100%;
  background-color: #F2F2F2;
  justify-items: center;
  box-sizing: border-box;
  padding-bottom: 120px;

}

@media screen and (max-width: 850px){
  .content{
    grid-template-columns: 87.2%;
    grid-template-rows: repeat(4, min-content);
    padding-bottom: 80px;
  }
}

