.content{
  display: grid;
  grid-template-columns: 77.09%;
  grid-template-rows: 84px repeat(3, min-content);
  justify-content: center;
  width: 100%;
  background-color: #F2F2F2;
  height: 100vh;
}

@media screen and (max-width: 850px){
  .content{
    grid-template-columns: 87.2%;
    grid-template-rows: 80px repeat(3, min-content);
  }
}

