.footer__link{
  font-family: 'Poppins', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.234375px;
  color: #BFBFBF;
  text-decoration: none;
  margin-bottom: 10px;
  transition: color .3s linear;
}

/* .footer__link:last-child{
  margin: 0;
} */

.footer__link:hover{
  color: #2BD0D0;
}
