.boost__title{
  margin: 0 0 32px 0;
  padding: 0;
  font-family: 'Poppins', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: calc(23.77px + 0.0113 * 100vw);
  line-height: 48px;
  text-align: center;
  letter-spacing: -1px;
  color: #FFFFFF;
}
@media screen and (min-width: 850px){
  .boost__title{
    font-size: 40px;
  }
}
@media screen and (max-width: 375px){
  .boost__title{
    font-size: 28px;
    letter-spacing: -0.7px;
  }
}

