.header__subtitle{
  margin: 0 0 38px 0;
  font-family: 'Poppins', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: calc(16.6px + 4 * 100vw / 1065);
  line-height: calc(27.9px + 2 * 100vw / 355);
  color: #9E9AA8;
}


@media screen and (min-width: 1440px){
  .header__subtitle{
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.15px;
  }
}

@media screen and (max-width: 851px){
  .header__subtitle{
    text-align: center;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 375px){
  .header__subtitle{
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.123px;
  }
}
