.shorten-form__submit-button{
  padding: 16px 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: #2BD0D0;
  border-radius: 10px;
  font-family: 'Poppins', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  border: 0;
  cursor: pointer;
  transition: background-color .3s linear ;
}
.shorten-form__submit-button:hover{
  background-color: #9AE3E3;
}
@media screen and (max-width: 850px){
  .shorten-form__submit-button{
    height: 48px;
    align-self: end;
    font-size: 19px;
    line-height: 28px;
  }
}
@media screen and (max-width: 375px){
  .shorten-form__submit-button{
    font-size: 18px;
    line-height: 27px;
  }
}
