@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');
@import url('../blocks/page/page.css');
@import url('../blocks/start-button/start-button.css');
@import url('../blocks/page/__header/page__header.css');
@import url('../blocks/page/_position/page_position_center.css');
@import url('../blocks/header/header.css');
@import url('../blocks/header/__mobile-line/header__mobile-line.css');
@import url('../blocks/header/__menu/header__menu.css');
@import url('../blocks/header/__mobile-nav/header__mobile-nav.css');
@import url('../blocks/header/__link/header__link.css');
@import url('../blocks/header/__link/_mobile/header__link_mobile.css');
@import url('../blocks/header/__menu-button/header__menu-button.css');
@import url('../blocks/header/__menu-button/_menu-button_mobile/header__menu-button_mobile.css');
@import url('../blocks/header/__mobile-nav-button/header__mobile-nav-button.css');
@import url('../blocks/header/__mobile-checkbox/header__mobile-checkbox.css');
@import url('../blocks/header/__intro/header__intro.css');
@import url('../blocks/header/__intro-container/header__intro-container.css');
@import url('../blocks/header/__title/header__title.css');
@import url('../blocks/header/__subtitle/header__subtitle.css');
/* @import url('../blocks/header/__button/header__button.css'); */
@import url('../blocks/logo/logo.css');
@import url('../blocks/logo/_place_header/logo_place_header.css');
@import url('../blocks/content/content.css');
@import url('../blocks/content/__statistic/content__statistic.css');
@import url('../blocks/content/__feachures/content__feachures.css');
@import url('../blocks/shorten-form/shorten-form.css');
@import url('../blocks/shorten-form/__input/shorten-form__input.css');
@import url('../blocks/shorten-form/__submit-button/shorten-form__submit-button.css');
@import url('../blocks/shorten-form/__hint/shorten-form__hint.css');
@import url('../blocks/shorten-form/__input-container/shornten-form__input-container.css');
@import url('../blocks/shorten-result/shorten-result.css');
@import url('../blocks/shorten-result/__container/shornten-result__container.css')  ;
@import url('../blocks/shorten-result/__link/shorten-result__link.css');
@import url('../blocks/shorten-result/__link/_shorten/shorten-result__link_shorten.css');
@import url('../blocks/shorten-result/__copy-button/shorten-result__copy-button.css');
@import url('../blocks/shorten-result/__copy-button/_avtive/shorten-result__copy-button_active.css');
@import url('../blocks/shorten-result/_active/shorten-result_active.css');
@import url('../blocks/statistic/statistic.css');
@import url('../blocks/statistic/__titile/statistic__title.css');
@import url('../blocks/statistic/__subtitle/statistic__subtitile.css');
@import url('../blocks/feachures/feachures.css');
@import url('../blocks/card/card.css');
@import url('../blocks/card/__image/card__image.css');
@import url('../blocks/card/__text/card__text.css');
@import url('../blocks/card/__titile/card__title.css');
@import url('../blocks/card/_position/card_position_middle.css');
@import url('../blocks/card/_position/card_position_bottom.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/boost/boost.css');
@import url('../blocks/boost/__titile/boost__title.css');
