.feachures{
  min-height: 377px;
  width: 100%;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  column-gap: 30px;
  list-style-type: none;
  padding: 0;
  max-width: 1100px;
  margin: 0;
}

.feachures::before{
  content: '';
  height: 0;
  border: 8px solid #2BD0D0;
  position: absolute;
  top: 152px;
  left: 0;
  right: 0;
  z-index: 0;
}

@media screen and (max-width: 1200px){
  .feachures::before{
    left: calc(50% - 8px);
    top: 0;
    width: 0;
    height: 90%;
  }
  .feachures{
    grid-template-columns: 100%;
    grid-template-rows: minmax(267px, min-content);
    row-gap: 92px;
  }
}
