.header__title{
  margin: 0 0 5px 0;
  padding: 0;
  font-family: 'Poppins', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: calc(28.6px + 38 * 100vw / 1065);
  line-height: calc(33.2px + 14 * 100vw / 355);
  letter-spacing: -2px;
  color: #34313D;
}

@media screen and (min-width: 1440px){
  .header__title{
    font-size: 80px;
    line-height: 90px;
  }
}

@media screen and (max-width: 851px){
  .header__title{
    text-align: center;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 375px){
  .header__title{
    font-size: 42px;
    letter-spacing: -1.05px;
    line-height: 48px;
  }
}

